
.image .navbar-item {
    background: url(https://images.g2crowd.com/uploads/product/image/social_landscape/social_landscape_db19166c75710883691a33de7418ade1/grepsr.png) no-repeat center center;
    background-size: cover;
    width: 152px;
  }

 

  @media screen and (min-width: 1480px) {
    .container{
      display: block;
      max-width: 70%;
      margin:0 auto;
    }
    .navbar-item{
      margin-right:5rem;
    }
  }